.loginForm{
    min-width:50px;
    max-width:400px;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}

.ratingForm {
    min-width: 50px;
    max-width: 800px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.ratingSelect {
    width: 25% !important;
    padding-right: 50px;
}

.myButton90 {
width:80% !important;
}

.btnTextLeft {
    text-align:left !important;
}

.taskType {
font-weight:bold;
}

.teacherP {
font-size:20px;
font-weight:bolder;
}

.rightButton {
float:right;
}

.myButton80 {
    width: 50% !important;
}

myDiv {
display:table !important;
}

.myButton10 {
    width: 19% !important;
}

div.validation-summary-errors * {
    color: red !important;
}

.field-validation-error {
color: red !important;
}
