#space-between {
    line-height: 70px;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
}

.btn-outline-secondary:hover {
    background-color: #99c2ff;
}