@model StudyingApp.ViewModels.MarkViewModel
@{
    ViewData["Title"] = "AddMark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>AddMark</h1>
<form class="loginForm" method="post" enctype="multipart/form-data" asp-action="">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Listener"></label>
        <select class="form-control">
            <option >Студент1</option>
            <option>Студент2</option>
        </select>
        <span asp-validation-for="Listener"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mark"></label>
        <input asp-for="Mark" type="text" class="form-control col-xs-4">
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
    <button type="submit" class="btn btn-success">
        Зберегти
    </button>
</form>*@


