
@{
    ViewData["Title"] = "Courses";
    Layout = "_Layout";
}
<link href="~/css/Courses.css" rel="stylesheet" />
<h1>Courses</h1>

<div class="align-items-center m-5" id="space-between">
    <button type="button" class="btn btn-outline-secondary btn-xl">Course</button>
</div>