@model StudyingApp.Models.Course

@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center m-5">@Html.DisplayFor(modelItem => modelItem.Name)</h1>

