@model IEnumerable<Student>

@{
    ViewData["Title"] = "Rating";
}

<div class="row">
    <div class="col-sm">
        <h1 class="text-center m-5">Рейтинг студентів</h1>
        <table class="table">
            <thead class="bg-primary text-light">
                <tr>
                    <th>
                        Студент
                    </th>
                    @foreach (var item in Model)
                    {
                        <th>
                            @Html.DisplayFor(modelItem => item.Listeners)
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
