@model IEnumerable<Student>

@{
    ViewData["Title"] = "Rating";
}

<div class="row">
    <div class="col-sm">
        <h1 class="text-center m-5">Рейтинг студентів</h1>
        <table class="table">
            <thead class="bg-primary text-light">
                <tr>
                    <th>
                        Студент
                    </th>
                    @foreach (var item in Model)
                    {
                        @foreach (var course in item.Listeners)
                        {
                            <th>
                                @Html.DisplayFor(c => course.Course.Name)
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if(item.Listeners.Count != 0)
                        {
                            <th>
                                @Html.DisplayFor(u => item.User.FirstName) @Html.DisplayFor(u => item.User.LastName)
                            </th>
                            @foreach (var mark in item.Listeners)
                            {
                                <th>
                                    @Html.DisplayFor(m => mark.TotalMark)
                                </th>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
