@model IEnumerable<StudyingApp.Models.Module>

@{
    ViewData["Title"] = "Schedule";
}

<div class="row">
    <div class="col-sm">
        <h1 class="text-center m-5">Графік занять</h1>
        <table class="table">
            <thead class="bg-primary text-light">
                <tr>
                    <th>
                        Дата
                    </th>
                    <th>
                        Час
                    </th>
                    <th>
                        Курс
                    </th>
                    <th>
                        Модуль
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date.TimeOfDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
